* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

body {
  overflow-x: hidden; }

.navbar {
  background-color: #F7F7F7FF; }
  .navbar .navbar-brand {
    font-size: 17px; }
    .navbar .navbar-brand:hover {
      color: #0163d2; }
  .navbar .navbar-nav .nav-item {
    padding: 0 25px; }
    .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
      color: #7B7B7BFF;
      font-size: 13px; }
    .navbar .navbar-nav .nav-item .dropdown-menu .fa-euro-sign {
      padding-left: 10px; }
    .navbar .navbar-nav .nav-item .dropdown-menu .fa-dollar-sign {
      padding-left: 10px; }

.header {
  z-index: 33;
  position: sticky;
  top: 0;
  background-color: #FFFFFFFF; }
  .header #navbar_menu {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header #navbar_menu .logo {
      line-height: 100px; }
    .header #navbar_menu .innermenu ul {
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .header #navbar_menu .innermenu ul .active {
        color: #0163D2FF;
        border-bottom: 2px solid #0163D2FF;
        text-decoration: none; }
      .header #navbar_menu .innermenu ul li {
        padding: 20px 20px;
        position: relative; }
        .header #navbar_menu .innermenu ul li:hover .sub_menu {
          visibility: visible;
          opacity: 1;
          transition: .3s; }
        .header #navbar_menu .innermenu ul li .sub_menu {
          position: absolute;
          background-color: #FFFFFFFF;
          padding: 15px;
          left: -350px;
          top: 50px;
          visibility: hidden;
          opacity: 0;
          z-index: 3; }
          .header #navbar_menu .innermenu ul li .sub_menu .image img {
            width: 100%;
            cursor: pointer;
            transition: all 300ms linear; }
          .header #navbar_menu .innermenu ul li .sub_menu .image:hover img {
            transform: scale(1.1);
            transition: .3s ease-in-out; }
        .header #navbar_menu .innermenu ul li h5 {
          color: black;
          font-size: 15px; }
        .header #navbar_menu .innermenu ul li .row .col-md-12 {
          margin-top: 30px; }
      .header #navbar_menu .innermenu ul a {
        text-transform: uppercase;
        color: black;
        font-weight: bold; }
        .header #navbar_menu .innermenu ul a:hover {
          border-bottom: 2px solid #0163D2FF;
          color: #0163D2FF; }
    .header #navbar_menu .icons .far {
      font-size: 27px;
      padding: 0 10px;
      color: black; }
    .header #navbar_menu .icons sup {
      display: inline-block;
      position: relative;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      background-color: #F1F1F1FF;
      color: black;
      border-radius: 100%;
      top: -15px;
      left: -15px;
      font-weight: 600; }
    .header #navbar_menu .icons .last {
      background-color: #0163D2FF;
      color: white; }
  @media only screen and (max-width: 768px) {
    .header #navbar_menu {
      display: block; }
      .header #navbar_menu ul {
        display: block;
        width: 480px;
        margin: auto; }
        .header #navbar_menu ul li {
          display: inline-block;
          padding: 0; }
          .header #navbar_menu ul li a {
            font-size: 12px; }
      .header #navbar_menu .icons {
        display: none; } }

#vertical .row .col-md-3 {
  margin-bottom: 10px; }
  #vertical .row .col-md-3 .wrapper {
    position: relative; }
    #vertical .row .col-md-3 .wrapper .vertical_menu {
      height: 70px;
      line-height: 70px;
      background-color: #0163D2FF;
      color: white;
      text-align: center;
      text-transform: capitalize;
      font-size: 20px;
      font-weight: 600;
      cursor: pointer; }
      #vertical .row .col-md-3 .wrapper .vertical_menu .fa-server {
        position: relative;
        left: -50px;
        cursor: pointer; }
      #vertical .row .col-md-3 .wrapper .vertical_menu .fa-angle-down {
        margin-right: 10px;
        cursor: pointer; }
      #vertical .row .col-md-3 .wrapper .vertical_menu .vertical-menu-list {
        position: relative;
        width: 260px; }
        #vertical .row .col-md-3 .wrapper .vertical_menu .vertical-menu-list .vertical-menu-item {
          color: white;
          position: relative;
          right: 40px; }
        #vertical .row .col-md-3 .wrapper .vertical_menu .vertical-menu-list:hover .sub-menu {
          visibility: visible;
          opacity: 1;
          transition: .4s ease-in-out; }
    #vertical .row .col-md-3 .wrapper .sub-menu {
      padding: 0;
      border: 1px solid #0163D2FF;
      position: absolute;
      width: 100%;
      top: 70px;
      left: -32px;
      background-color: #FFFFFFFF;
      text-align: left;
      visibility: hidden;
      opacity: 0;
      z-index: 4; }
      #vertical .row .col-md-3 .wrapper .sub-menu li {
        line-height: 35px;
        position: relative;
        width: 100%;
        padding-left: 20px;
        transition: .4s ease-in-out; }
        #vertical .row .col-md-3 .wrapper .sub-menu li a {
          color: black;
          font-size: 15px;
          font-weight: 400;
          line-height: 45px;
          display: inline-block;
          width: 200px; }
          #vertical .row .col-md-3 .wrapper .sub-menu li a:hover {
            color: #0163D2FF;
            transition: .3s ease; }
        #vertical .row .col-md-3 .wrapper .sub-menu li:hover .fas {
          color: #0163D2FF; }
        #vertical .row .col-md-3 .wrapper .sub-menu li:hover .sub-menu-right1 {
          visibility: visible;
          opacity: 1;
          left: 259px;
          transition: .4s ease-in-out; }
        #vertical .row .col-md-3 .wrapper .sub-menu li:hover .sub-menu-right2 {
          visibility: visible;
          opacity: 1;
          left: 259px;
          transition: .4s ease-in-out; }
      #vertical .row .col-md-3 .wrapper .sub-menu .fa-angle-right {
        color: black;
        font-weight: 300; }
      #vertical .row .col-md-3 .wrapper .sub-menu .sub-menu-right1 {
        position: absolute;
        left: 290px;
        top: 0;
        width: 650px;
        height: 200px;
        background-color: #FFFFFFFF;
        visibility: hidden;
        opacity: 0; }
        #vertical .row .col-md-3 .wrapper .sub-menu .sub-menu-right1 .chapter a {
          font-weight: 600; }
        #vertical .row .col-md-3 .wrapper .sub-menu .sub-menu-right1 .col-md-3 li a {
          line-height: 27px;
          display: block;
          position: relative;
          transition: .4s ease-in-out; }
          #vertical .row .col-md-3 .wrapper .sub-menu .sub-menu-right1 .col-md-3 li a:hover {
            left: 7px; }
      #vertical .row .col-md-3 .wrapper .sub-menu .sub-menu-right2 {
        position: absolute;
        left: 290px;
        top: 0;
        background-color: #FFFFFFFF;
        padding: 0;
        visibility: hidden;
        opacity: 0; }
        #vertical .row .col-md-3 .wrapper .sub-menu .sub-menu-right2 li a {
          display: block;
          position: relative;
          transition: .4s ease-in-out; }
          #vertical .row .col-md-3 .wrapper .sub-menu .sub-menu-right2 li a:hover {
            left: 5px;
            transition: .4s ease-in-out; }
#vertical .row .col-md-6 .input-group {
  height: 70px;
  border: none;
  outline: 0; }
  #vertical .row .col-md-6 .input-group input {
    border: 1px solid #E5E5E5FF;
    border-right: none;
    outline: 0; }
    #vertical .row .col-md-6 .input-group input:focus {
      outline: none; }
  #vertical .row .col-md-6 .input-group .last {
    width: 60px;
    color: white;
    background-color: #0163D2FF;
    border: none;
    outline: none; }
    #vertical .row .col-md-6 .input-group .last:hover {
      background-color: #3b7eca; }
#vertical .row .col-md-6 .btn {
  height: 70px;
  border: 1px solid #E5E5E5FF;
  border-left: none; }
  #vertical .row .col-md-6 .btn:focus {
    outline: none; }
#vertical .row .col-md-3 .wrapper {
  height: 70px;
  border: 2px solid #E5E5E5FF; }
  #vertical .row .col-md-3 .wrapper .right {
    width: 100%;
    text-align: center; }
    #vertical .row .col-md-3 .wrapper .right .numbers {
      color: #0163D2FF;
      font-size: 23px;
      font-weight: bolder; }
    #vertical .row .col-md-3 .wrapper .right .free {
      color: #9FA19FFF; }

#slide1 {
  padding: 20px 0; }
  #slide1 #carouselExampleIndicators .carousel-control-prev .fa-angle-left {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: white;
    background-color: #656565FF;
    font-size: 25px;
    font-weight: 300; }
  #slide1 #carouselExampleIndicators .carousel-control-next .fa-angle-right {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: white;
    background-color: #656565FF;
    font-size: 25px;
    font-weight: 300; }
  #slide1 #carouselExampleIndicators .carousel-indicators .leftbtn {
    width: 17px;
    height: 17px;
    background-color: #0163D2FF;
    border-radius: 100%;
    margin-right: 10px; }
  #slide1 #carouselExampleIndicators .carousel-indicators .rightbtn {
    width: 17px;
    height: 17px;
    background-color: #0163D2FF;
    border-radius: 100%; }

#arrivals .row .col-md-6 {
  margin: 5px auto; }
  #arrivals .row .col-md-6 img {
    width: 100%;
    transition: .4s; }
    #arrivals .row .col-md-6 img:hover {
      transform: scale(1.1, 1.1);
      transition: .4s ease-in-out; }

#punct {
  padding: 30px 0; }
  #punct .row {
    margin: auto; }
    #punct .row .col-md-3 {
      margin: 5px auto; }
      #punct .row .col-md-3 a {
        display: block;
        color: black;
        background-color: white;
        border: 2px solid #E5E5E5FF;
        border-radius: 5px;
        width: 100%;
        line-height: 60px;
        font-size: 20px;
        font-weight: 700;
        text-transform: capitalize;
        transition: .3s; }
        #punct .row .col-md-3 a:hover {
          background-color: #0163D2FF;
          color: white;
          transition: .3s ease-in; }
      #punct .row .col-md-3 .active {
        color: white;
        background-color: #0163D2FF; }

#newarrival {
  padding: 30px 0; }
  #newarrival .new-arrival {
    position: relative; }
    #newarrival .new-arrival .wrapper .image {
      position: relative; }
      #newarrival .new-arrival .wrapper .image img {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        transition: .4s;
        cursor: pointer; }
        #newarrival .new-arrival .wrapper .image img:hover {
          transform: scale(1.1, 1.1);
          transition: .4s ease-in-out; }
      #newarrival .new-arrival .wrapper .image .new {
        position: absolute;
        display: inline-block;
        width: 55px;
        height: 25px;
        line-height: 25px;
        top: 0;
        left: 0;
        color: white;
        background-color: #0163D2FF;
        text-transform: capitalize;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        border-radius: 5px; }
    #newarrival .new-arrival .wrapper .chapter .chapter1 {
      display: block;
      color: #454545FF;
      text-transform: capitalize;
      font-size: 18px;
      font-weight: 500;
      margin-top: 15px; }
      #newarrival .new-arrival .wrapper .chapter .chapter1:hover {
        color: #0163D2FF; }
    #newarrival .new-arrival .wrapper .stars .fas {
      display: inline-block;
      margin: 15px auto;
      color: #F9BA48FF;
      font-size: 12px; }
    #newarrival .new-arrival .wrapper .price {
      display: inline-block;
      color: #CCCCCCFF;
      margin-bottom: 13px; }
      #newarrival .new-arrival .wrapper .price b {
        color: black; }
    #newarrival .new-arrival .wrapper .icons .add {
      display: inline-block;
      color: #979797FF;
      background-color: #F1F1F1FF;
      width: 110px;
      line-height: 40px;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      border-radius: 5px;
      transition: .3s; }
      #newarrival .new-arrival .wrapper .icons .add:hover {
        color: white;
        background-color: #0163D2FF;
        transition: .3s; }
    #newarrival .new-arrival .wrapper .icons .far {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background-color: #F1F1F1FF;
      color: #979797FF;
      border-radius: 5px;
      transition: .3s;
      cursor: pointer; }
      #newarrival .new-arrival .wrapper .icons .far:hover {
        color: white;
        background-color: #0163D2FF;
        transition: .3s; }
    #newarrival .new-arrival .fa-angle-left {
      position: absolute;
      display: inline-block;
      top: 50%;
      left: 0;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-weight: 300;
      background-color: #fff;
      color: #666;
      border: 1px solid #e3e3e3;
      border-radius: 100%;
      transition: .3s ease-in;
      transform: translate(-50%, -50%); }
      #newarrival .new-arrival .fa-angle-left:hover {
        transition: .3s;
        background-color: #0163D2FF;
        color: white; }
    #newarrival .new-arrival .fa-angle-right {
      position: absolute;
      display: inline-block;
      top: 50%;
      right: 0;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-weight: 300;
      background-color: #fff;
      color: #666;
      border: 1px solid #e3e3e3;
      border-radius: 100%;
      transition: .3s ease-in;
      transform: translate(-50%, -50%); }
      #newarrival .new-arrival .fa-angle-right:hover {
        transition: .3s;
        background-color: #0163D2FF;
        color: white; }

#laptop {
  padding: 20px 0; }
  #laptop .row_laptop {
    position: relative; }
    #laptop .row_laptop h4 {
      margin-bottom: 20px;
      font-weight: bold; }
    #laptop .row_laptop .wrapper .image {
      position: relative; }
      #laptop .row_laptop .wrapper .image img {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        transition: .4s;
        cursor: pointer; }
        #laptop .row_laptop .wrapper .image img:hover {
          transform: scale(1.1, 1.1);
          transition: .4s ease-in-out; }
      #laptop .row_laptop .wrapper .image .new {
        position: absolute;
        display: inline-block;
        width: 55px;
        height: 25px;
        line-height: 25px;
        top: 0;
        left: 0;
        color: white;
        background-color: #0163D2FF;
        text-transform: capitalize;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        border-radius: 5px; }
    #laptop .row_laptop .wrapper .chapter .chapter1 {
      display: block;
      color: #454545FF;
      text-transform: capitalize;
      font-size: 18px;
      font-weight: 500;
      margin-top: 15px; }
      #laptop .row_laptop .wrapper .chapter .chapter1:hover {
        color: #0163D2FF; }
    #laptop .row_laptop .wrapper .stars .fas {
      display: inline-block;
      margin: 15px auto;
      color: #F9BA48FF;
      font-size: 12px; }
    #laptop .row_laptop .wrapper .price {
      display: inline-block;
      color: #CCCCCCFF;
      margin-bottom: 13px; }
      #laptop .row_laptop .wrapper .price b {
        color: black; }
    #laptop .row_laptop .wrapper .icons .add {
      display: inline-block;
      color: #979797FF;
      background-color: #F1F1F1FF;
      width: 110px;
      line-height: 40px;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      border-radius: 5px;
      transition: .3s; }
      #laptop .row_laptop .wrapper .icons .add:hover {
        color: white;
        background-color: #0163D2FF;
        transition: .3s; }
    #laptop .row_laptop .wrapper .icons .far {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background-color: #F1F1F1FF;
      color: #979797FF;
      border-radius: 5px;
      transition: .3s;
      cursor: pointer; }
      #laptop .row_laptop .wrapper .icons .far:hover {
        color: white;
        background-color: #0163D2FF;
        transition: .3s; }
    #laptop .row_laptop .fa-angle-left {
      position: absolute;
      display: inline-block;
      top: 50%;
      left: 0;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-weight: 300;
      background-color: #fff;
      color: #666;
      border: 1px solid #e3e3e3;
      border-radius: 100%;
      transition: .3s ease-in;
      transform: translate(-50%, -50%); }
      #laptop .row_laptop .fa-angle-left:hover {
        transition: .3s;
        background-color: #0163D2FF;
        color: white; }
    #laptop .row_laptop .fa-angle-right {
      position: absolute;
      display: inline-block;
      top: 50%;
      right: 0;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-weight: 300;
      background-color: #fff;
      color: #666;
      border: 1px solid #e3e3e3;
      border-radius: 100%;
      transition: .3s ease-in;
      transform: translate(-50%, -50%); }
      #laptop .row_laptop .fa-angle-right:hover {
        transition: .3s;
        background-color: #0163D2FF;
        color: white; }

#off {
  padding: 20px 0; }
  #off .row .wrapper {
    overflow: hidden;
    margin: 10px auto; }
    #off .row .wrapper img {
      width: 100%;
      height: 100%;
      transition: .3s ease-in-out; }
    #off .row .wrapper:hover img {
      transform: scale(1.1);
      transition: .3s ease-in; }

#bestseller .cap {
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  #bestseller .cap .right_links a {
    display: inline-block;
    padding: 0 15px;
    color: black;
    font-size: 18px; }
    #bestseller .cap .right_links a:hover {
      color: #0163D2FF;
      transition: .3s; }
  #bestseller .cap .right_links .active {
    color: #0163D2FF; }
#bestseller .best_row1 .md1 .best_row2 .image {
  position: relative; }
  #bestseller .best_row1 .md1 .best_row2 .image img {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    transition: .4s;
    cursor: pointer; }
    #bestseller .best_row1 .md1 .best_row2 .image img:hover {
      transform: scale(1.1, 1.1);
      transition: .4s ease-in-out; }
  #bestseller .best_row1 .md1 .best_row2 .image .new {
    position: absolute;
    display: inline-block;
    width: 55px;
    height: 25px;
    line-height: 25px;
    top: 0;
    left: 0;
    color: white;
    background-color: #0163D2FF;
    text-transform: capitalize;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px; }
#bestseller .best_row1 .md1 .best_row2 .col-6 .chapter .chapter1 {
  display: block;
  color: #454545FF;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
  margin-top: 15px; }
  #bestseller .best_row1 .md1 .best_row2 .col-6 .chapter .chapter1:hover {
    color: #0163D2FF; }
#bestseller .best_row1 .md1 .best_row2 .col-6 .stars .fas {
  display: inline-block;
  margin: 15px auto;
  color: #F9BA48FF;
  font-size: 12px; }
#bestseller .best_row1 .md1 .best_row2 .col-6 .price {
  display: inline-block;
  color: #CCCCCCFF;
  margin-bottom: 13px; }
  #bestseller .best_row1 .md1 .best_row2 .col-6 .price b {
    color: black; }
#bestseller .best_row1 .md1 .best_row2 .col-6 .add {
  display: inline-block;
  color: #979797FF;
  background-color: #F1F1F1FF;
  width: 110px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  border-radius: 5px;
  transition: .3s; }
  #bestseller .best_row1 .md1 .best_row2 .col-6 .add:hover {
    color: white;
    background-color: #0163D2FF;
    transition: .3s; }
#bestseller .best_row1 .md1 .best_row2 .col-6 .far {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #F1F1F1FF;
  color: #979797FF;
  border-radius: 5px;
  transition: .3s;
  cursor: pointer; }
  #bestseller .best_row1 .md1 .best_row2 .col-6 .far:hover {
    color: white;
    background-color: #0163D2FF;
    transition: .3s; }

#newproducts {
  background-color: #F6F6F6FF;
  padding: 60px 0; }
  #newproducts .main-row {
    position: relative; }
    #newproducts .main-row .inner-row1 {
      margin: 20px auto; }
      #newproducts .main-row .inner-row1 .wrapper {
        background-color: #FFFFFFFF;
        border-radius: 10px; }
      #newproducts .main-row .inner-row1 .inner-row2 .image {
        position: relative; }
        #newproducts .main-row .inner-row1 .inner-row2 .image img {
          display: block;
          position: relative;
          width: 100%;
          height: 100%;
          transition: .4s;
          cursor: pointer; }
          #newproducts .main-row .inner-row1 .inner-row2 .image img:hover {
            transform: scale(1.1, 1.1);
            transition: .4s ease-in-out; }
        #newproducts .main-row .inner-row1 .inner-row2 .image .new {
          position: absolute;
          display: inline-block;
          width: 55px;
          height: 25px;
          line-height: 25px;
          top: 0;
          left: 0;
          color: white;
          background-color: #0163D2FF;
          text-transform: capitalize;
          text-align: center;
          font-size: 14px;
          font-weight: 500;
          border-radius: 5px; }
      #newproducts .main-row .inner-row1 .inner-row2 .col-6 .right-col .chapter .chapter1 {
        display: block;
        color: #454545FF;
        text-transform: capitalize;
        font-size: 15px;
        font-weight: 500;
        margin-top: 15px; }
        #newproducts .main-row .inner-row1 .inner-row2 .col-6 .right-col .chapter .chapter1:hover {
          color: #0163D2FF; }
      #newproducts .main-row .inner-row1 .inner-row2 .col-6 .right-col .stars .fas {
        display: inline-block;
        margin: 15px auto;
        color: #F9BA48FF;
        font-size: 12px; }
      #newproducts .main-row .inner-row1 .inner-row2 .col-6 .right-col .price {
        display: inline-block;
        color: #CCCCCCFF;
        margin-bottom: 13px; }
        #newproducts .main-row .inner-row1 .inner-row2 .col-6 .right-col .price b {
          color: black; }
    #newproducts .main-row .fa-angle-left {
      position: absolute;
      display: inline-block;
      top: 50%;
      left: 0;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-weight: 300;
      background-color: #fff;
      color: #666;
      border: 1px solid #e3e3e3;
      border-radius: 100%;
      transition: .3s ease-in;
      transform: translate(-50%, -50%); }
      #newproducts .main-row .fa-angle-left:hover {
        transition: .3s;
        background-color: #0163D2FF;
        color: white; }
    #newproducts .main-row .fa-angle-right {
      position: absolute;
      display: inline-block;
      top: 50%;
      right: -40px;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-weight: 300;
      background-color: #fff;
      color: #666;
      border: 1px solid #e3e3e3;
      border-radius: 100%;
      transition: .3s ease-in;
      transform: translate(-50%, -50%); }
      #newproducts .main-row .fa-angle-right:hover {
        transition: .3s;
        background-color: #0163D2FF;
        color: white; }

#categories {
  padding: 40px 0; }
  #categories h4 {
    font-weight: 700; }
  #categories hr {
    margin: 20px auto; }
  #categories .row {
    margin: 10px auto; }
    #categories .row .wrapper {
      margin: 10px auto; }
      #categories .row .wrapper .image img {
        width: 100%;
        height: 100%;
        transition: .3s ease-in-out; }
        #categories .row .wrapper .image img:hover {
          transform: scale(1.05, 1.05);
          transition: .3s ease-in-out; }

#companies {
  padding-bottom: 40px; }
  #companies .container {
    position: relative; }
    #companies .container .fa-angle-left {
      position: absolute;
      display: inline-block;
      top: 50%;
      left: 0;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-weight: 300;
      background-color: #fff;
      color: #666;
      border: 1px solid #e3e3e3;
      border-radius: 100%;
      transition: .3s ease-in;
      transform: translate(-50%, -50%); }
      #companies .container .fa-angle-left:hover {
        transition: .3s;
        background-color: #0163D2FF;
        color: white; }
    #companies .container .fa-angle-right {
      position: absolute;
      display: inline-block;
      top: 50%;
      right: -50px;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-weight: 300;
      background-color: #fff;
      color: #666;
      border: 1px solid #e3e3e3;
      border-radius: 100%;
      transition: .3s ease-in;
      transform: translate(-50%, -50%); }
      #companies .container .fa-angle-right:hover {
        transition: .3s;
        background-color: #0163D2FF;
        color: white; }
  #companies .row .col-2 .image img {
    width: 100%;
    height: 100%;
    cursor: pointer; }
    #companies .row .col-2 .image img:hover {
      opacity: .7;
      transition: .4s ease-in-out; }

#drone {
  padding: 50px 0;
  background: url("../image/cms_1.9.2.jpg") no-repeat center;
  background-size: cover; }
  #drone .col-md-6 .inner-right h1 {
    color: white;
    font-size: 50px;
    font-weight: 300; }
  #drone .col-md-6 .inner-right h2 {
    color: white;
    font-weight: bolder; }
  #drone .col-md-6 .inner-right .content {
    color: #80B1E8FF;
    font-size: 22px; }
  #drone .col-md-6 .inner-right button {
    display: inline-block;
    padding: 13px 30px;
    margin-right: 20px;
    color: white;
    background-color: #0163D2FF;
    border: 1px solid #3482DBFF;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    transition: .3s ease-in-out; }
    #drone .col-md-6 .inner-right button:hover {
      background-color: #5bb300;
      transition: .3s ease-in-out; }

footer {
  padding: 50px 0;
  background-color: #383838FF; }
  footer hr {
    background-color: #999999FF; }
  footer .wrapper {
    margin: 10px auto; }
  footer .lastrow1 .wrapper .chapter {
    color: #999999FF;
    margin: 20px auto; }
  footer .lastrow1 .wrapper .address {
    color: #999999FF;
    margin: 20px auto; }
    footer .lastrow1 .wrapper .address b {
      color: white; }
  footer .lastrow1 .wrapper .number {
    color: #999999FF; }
    footer .lastrow1 .wrapper .number b {
      color: white; }
  footer .lastrow1 .wrapper .email {
    color: #999999FF;
    margin: 20px auto; }
    footer .lastrow1 .wrapper .email b {
      color: white; }
  footer .lastrow1 .wrapper .icons {
    margin: 40px auto; }
    footer .lastrow1 .wrapper .icons .fab {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      color: white;
      border-radius: 100%;
      margin-right: 20px;
      cursor: pointer;
      transition: .3s; }
      footer .lastrow1 .wrapper .icons .fab:hover {
        background-color: #59B210FF;
        transition: .3s ease-in-out; }
    footer .lastrow1 .wrapper .icons .fa-facebook-f {
      background-color: #3C5B9BFF; }
    footer .lastrow1 .wrapper .icons .fa-instagram {
      background-color: #BE3088FF; }
    footer .lastrow1 .wrapper .icons .fa-twitter {
      background-color: #40C1DFFF; }
    footer .lastrow1 .wrapper .icons .fa-youtube {
      background-color: #EE2015FF; }
    footer .lastrow1 .wrapper .icons .fa-google {
      background-color: #ED3C32FF; }
  footer .lastrow1 .wrapper h4 {
    color: white;
    text-transform: capitalize;
    font-weight: 700; }
  footer .lastrow1 .wrapper li {
    line-height: 40px; }
    footer .lastrow1 .wrapper li a {
      color: #999999FF;
      transition: .4s ease-in; }
      footer .lastrow1 .wrapper li a:hover {
        position: relative;
        display: block;
        transition: .4s ease-in;
        color: #0163D2FF;
        left: 5px; }
  footer .lastrow2 {
    padding: 30px 0; }
    footer .lastrow2 h4 {
      color: white;
      font-weight: 700; }
    footer .lastrow2 .cupon {
      color: #999993FF; }
      footer .lastrow2 .cupon b {
        color: #D4542DFF; }
    footer .lastrow2 .text {
      color: #999993FF; }
    footer .lastrow2 input {
      width: 73%;
      height: 50px;
      line-height: 50px;
      border: 2px solid #999993FF;
      background-color: #383838FF;
      padding-left: 20px;
      color: #999993FF;
      border-radius: 5px; }
      footer .lastrow2 input:focus {
        outline: none; }
    footer .lastrow2 button {
      position: relative;
      left: -7px;
      width: 25%;
      height: 50px;
      line-height: 50px;
      background-color: #0163D2FF;
      color: whitesmoke;
      text-transform: uppercase;
      font-weight: 700;
      border: none;
      transition: .3s ease-in; }
      footer .lastrow2 button:hover {
        background-color: #161c1e;
        transition: .3s ease-in; }
  footer .lastrow3 {
    padding-top: 30px; }
    footer .lastrow3 .left {
      color: #999993FF; }
      footer .lastrow3 .left b {
        color: white; }
      footer .lastrow3 .left .fa-copyright {
        padding: 0 5px; }

/*# sourceMappingURL=style.css.map */
